<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMathService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/MathService/MathService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMathService"
                contract="ServiceReference1.IMathService" name="WSHttpBinding_IMathService">
                <identity>
                    <userPrincipalName value="KLASSANOV-PC\klassanov" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>